{% extends "maqueta.html" %}
{% block Content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/formularios.css' %}">
<div class="contenedor">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
                <div class="field_container">
                    {{ field.errors }}
                    {{ field.label_tag}} </br>
                    {{ field }}
                </div>
            {% endfor %}
        <button class="boton" type="submit">Editar Instrumento</button>
    </form>
</div>
{% endblock %}